[submodule "토비의 스프링/1주차/구연수_1주차"]
	path = 토비의 스프링/1주차/구연수_1주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/1주차/김성원_1주차"]
	path = 토비의 스프링/1주차/김성원_1주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/1주차/류별리_1주차"]
	path = 토비의 스프링/1주차/류별리_1주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/2주차/김성원_2주차"]
	path = 토비의 스프링/2주차/김성원_2주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/2주차/류별리_2주차"]
	path = 토비의 스프링/2주차/류별리_2주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/2주차/9연수_2주차"]
	path = 토비의 스프링/2주차/9연수_2주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/3주차/김성원_3주차"]
	path = 토비의 스프링/3주차/김성원_3주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/3주차/9연수_3주차"]
	path = 토비의 스프링/3주차/9연수_3주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/3주차/류별리_3주차"]
	path = 토비의 스프링/3주차/류별리_3주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/4주차/구연수_4주차"]
	path = 토비의 스프링/4주차/구연수_4주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/4주차/김성원_4주차"]
	path = 토비의 스프링/4주차/김성원_4주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/4주차/류별리_4주차"]
	path = 토비의 스프링/4주차/류별리_4주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/5주차/김성원_5주차"]
	path = 토비의 스프링/5주차/김성원_5주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/5주차/구연수_5주차"]
	path = 토비의 스프링/5주차/구연수_5주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/5주차/류별리_5주차"]
	path = 토비의 스프링/5주차/류별리_5주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/6주차/김성원_6주차"]
	path = 토비의 스프링/6주차/김성원_6주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
