[submodule "토비의 스프링/1주차/구연수_1주차"]
	path = 토비의 스프링/1주차/구연수_1주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/1주차/김성원_1주차"]
	path = 토비의 스프링/1주차/김성원_1주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/1주차/류별리_1주차"]
	path = 토비의 스프링/1주차/류별리_1주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/2주차/김성원_2주차"]
	path = 토비의 스프링/2주차/김성원_2주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/2주차/류별리_2주차"]
	path = 토비의 스프링/2주차/류별리_2주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/2주차/9연수_2주차"]
	path = 토비의 스프링/2주차/9연수_2주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/3주차/김성원_3주차"]
	path = 토비의 스프링/3주차/김성원_3주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/3주차/9연수_3주차"]
	path = 토비의 스프링/3주차/9연수_3주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/3주차/류별리_3주차"]
	path = 토비의 스프링/3주차/류별리_3주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/4주차/구연수_4주차"]
	path = 토비의 스프링/4주차/구연수_4주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/4주차/김성원_4주차"]
	path = 토비의 스프링/4주차/김성원_4주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/4주차/류별리_4주차"]
	path = 토비의 스프링/4주차/류별리_4주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/5주차/김성원_5주차"]
	path = 토비의 스프링/5주차/김성원_5주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/5주차/구연수_5주차"]
	path = 토비의 스프링/5주차/구연수_5주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/5주차/류별리_5주차"]
	path = 토비의 스프링/5주차/류별리_5주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/6주차/김성원_6주차"]
	path = 토비의 스프링/6주차/김성원_6주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/6주차/구연수_6주차"]
	path = 토비의 스프링/6주차/구연수_6주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/6주차/류별리_6주차"]
	path = 토비의 스프링/6주차/류별리_6주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/7주차/류별리_7주차"]
	path = 토비의 스프링/7주차/류별리_7주차
	url = https://github.com/ririkat/toby-spring-study.git
[submodule "토비의 스프링/7주차/김성원_7주차"]
	path = 토비의 스프링/7주차/김성원_7주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/7주차/구연수_7주차"]
	path = 토비의 스프링/7주차/구연수_7주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/8주차/김성원_8주차"]
	path = 토비의 스프링/8주차/김성원_8주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/8주차/구연수_8주차"]
	path = 토비의 스프링/8주차/구연수_8주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/8주차/류별리/8주차"]
	path = 토비의 스프링/8주차/류별리/8주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/9주차/김성원_9주차"]
	path = 토비의 스프링/9주차/김성원_9주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/9주차/9얀스_9주차"]
	path = 토비의 스프링/9주차/9얀스_9주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/10주차/김성원_10주차"]
	path = 토비의 스프링/10주차/김성원_10주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/10주차/9얀스_10주차"]
	path = 토비의 스프링/10주차/9얀스_10주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/11주차/김성원_11주차"]
	path = 토비의 스프링/11주차/김성원_11주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/12주차/김성원_12주차"]
	path = 토비의 스프링/12주차/김성원_12주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/11주차/구연수_11주차"]
	path = 토비의 스프링/11주차/구연수_11주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/13주차/김성원_13주차"]
	path = 토비의 스프링/13주차/김성원_13주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "JPA/1주차/구연수_1주차"]
	path = JPA/1주차/구연수_1주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/1주차/김성원_1주차/김성원_1주차"]
	path = JPA/1주차/김성원_1주차/김성원_1주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/2주차/구연수_2주차"]
	path = JPA/2주차/구연수_2주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/2주차/김성원_2주차"]
	path = JPA/2주차/김성원_2주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/3주차/구연수_3주차"]
	path = JPA/3주차/구연수_3주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/3주차/김성원_3주차"]
	path = JPA/3주차/김성원_3주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/4주차/9연수_4주차"]
	path = JPA/4주차/9연수_4주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/4주차/김성1_4주차"]
	path = JPA/4주차/김성1_4주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "JPA/5주차/9연수_5주차"]
	path = JPA/5주차/9연수_5주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/5주차/김성1_5주차"]
	path = JPA/5주차/김성1_5주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/5주차/류별2_5주차"]
	path = JPA/5주차/류별2_5주차
	url = https://github.com/ririkat/JPA-study.wiki.git
[submodule "JPA/6주차/9연수_6주차"]
	path = JPA/6주차/9연수_6주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/6주차/김성1_6주차"]
	path = JPA/6주차/김성1_6주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/6주차/류별2_6주차"]
	path = JPA/6주차/류별2_6주차
	url = https://github.com/ririkat/JPA-study.wiki.git
[submodule "JPA/7주차/9연수_7주차"]
	path = JPA/7주차/9연수_7주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/9연수_8주차"]
	path = JPA/9연수_8주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/8주차/김성1_7-8주차"]
	path = JPA/8주차/김성1_7-8주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/9주차/9연수_9주차"]
	path = JPA/9주차/9연수_9주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/9주차/김성1_9주차"]
	path = JPA/9주차/김성1_9주차
	url = https://github.com/ksw6169/jpa-basic.git
[submodule "JPA/10주차/9연수_10주차"]
	path = JPA/10주차/9연수_10주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/10주차/김성1_10주차"]
	path = JPA/10주차/김성1_10주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/11주차/9연수_11주차"]
	path = JPA/11주차/9연수_11주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/11주차/김성1_11주차"]
	path = JPA/11주차/김성1_11주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/9주차/류별2_9주차"]
	path = JPA/9주차/류별2_9주차
	url = https://github.com/ririkat/JPA-study.wiki.git
[submodule "JPA/12주차/9연수_12주차"]
	path = JPA/12주차/9연수_12주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/13주차/9연수_13주차"]
	path = JPA/13주차/9연수_13주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/12주차/김성1_12주차"]
	path = JPA/12주차/김성1_12주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/12주차/류별2_12주차"]
	path = JPA/12주차/류별2_12주차
	url = https://github.com/ririkat/JPA-study.wiki.git
[submodule "JPA/13주차/김성1_13주차"]
	path = JPA/13주차/김성1_13주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "Effective Java/1주차/김성1_1주차"]
	path = Effective Java/1주차/김성1_1주차
	url = https://github.com/ksw6169/java-basic.wiki.git
[submodule "Effective Java/1주차/9연수_1주차"]
	path = Effective Java/1주차/9연수_1주차
	url = https://github.com/KOO-YS/effective-java.wiki.git
[submodule "Effective Java/1주차/6혜민_1주차"]
	path = Effective Java/1주차/6혜민_1주차
	url = https://github.com/yuhyeminn/effective-java.wiki.git
[submodule "Effective Java/9연수_2주차"]
	path = Effective Java/2주차/9연수_2주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "Effective Java/2주차/김성1_2주차"]
	path = Effective Java/2주차/김성1_2주차
	url = https://github.com/ksw6169/java-basic.wiki.git
[submodule "Effective Java/2주차/6혜민_2주차"]
	path = Effective Java/2주차/6혜민_2주차
	url = https://github.com/yuhyeminn/effective-java.wiki.git
[submodule "Effective Java/2주차/류별2_2주차"]
	path = Effective Java/2주차/류별2_2주차
	url = https://github.com/ririkat/effective-java.wiki.git
