[submodule "토비의 스프링/1주차/구연수_1주차"]
	path = 토비의 스프링/1주차/구연수_1주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/1주차/김성원_1주차"]
	path = 토비의 스프링/1주차/김성원_1주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/1주차/류별리_1주차"]
	path = 토비의 스프링/1주차/류별리_1주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/2주차/김성원_2주차"]
	path = 토비의 스프링/2주차/김성원_2주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/2주차/류별리_2주차"]
	path = 토비의 스프링/2주차/류별리_2주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/2주차/9연수_2주차"]
	path = 토비의 스프링/2주차/9연수_2주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/3주차/김성원_3주차"]
	path = 토비의 스프링/3주차/김성원_3주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/3주차/9연수_3주차"]
	path = 토비의 스프링/3주차/9연수_3주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/3주차/류별리_3주차"]
	path = 토비의 스프링/3주차/류별리_3주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/4주차/구연수_4주차"]
	path = 토비의 스프링/4주차/구연수_4주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/4주차/김성원_4주차"]
	path = 토비의 스프링/4주차/김성원_4주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/4주차/류별리_4주차"]
	path = 토비의 스프링/4주차/류별리_4주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/5주차/김성원_5주차"]
	path = 토비의 스프링/5주차/김성원_5주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/5주차/구연수_5주차"]
	path = 토비의 스프링/5주차/구연수_5주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/5주차/류별리_5주차"]
	path = 토비의 스프링/5주차/류별리_5주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/6주차/김성원_6주차"]
	path = 토비의 스프링/6주차/김성원_6주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/6주차/구연수_6주차"]
	path = 토비의 스프링/6주차/구연수_6주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/6주차/류별리_6주차"]
	path = 토비의 스프링/6주차/류별리_6주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/7주차/류별리_7주차"]
	path = 토비의 스프링/7주차/류별리_7주차
	url = https://github.com/ririkat/toby-spring-study.git
[submodule "토비의 스프링/7주차/김성원_7주차"]
	path = 토비의 스프링/7주차/김성원_7주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/7주차/구연수_7주차"]
	path = 토비의 스프링/7주차/구연수_7주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/8주차/김성원_8주차"]
	path = 토비의 스프링/8주차/김성원_8주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/8주차/구연수_8주차"]
	path = 토비의 스프링/8주차/구연수_8주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/8주차/류별리/8주차"]
	path = 토비의 스프링/8주차/류별리/8주차
	url = https://github.com/ririkat/toby-spring-study.wiki.git
[submodule "토비의 스프링/9주차/김성원_9주차"]
	path = 토비의 스프링/9주차/김성원_9주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/9주차/9얀스_9주차"]
	path = 토비의 스프링/9주차/9얀스_9주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/10주차/김성원_10주차"]
	path = 토비의 스프링/10주차/김성원_10주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/10주차/9얀스_10주차"]
	path = 토비의 스프링/10주차/9얀스_10주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/11주차/김성원_11주차"]
	path = 토비의 스프링/11주차/김성원_11주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/12주차/김성원_12주차"]
	path = 토비의 스프링/12주차/김성원_12주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "토비의 스프링/11주차/구연수_11주차"]
	path = 토비의 스프링/11주차/구연수_11주차
	url = https://github.com/KOO-YS/toby-spring.wiki.git
[submodule "토비의 스프링/13주차/김성원_13주차"]
	path = 토비의 스프링/13주차/김성원_13주차
	url = https://github.com/ksw6169/toby-of-spring.wiki.git
[submodule "JPA/1주차/구연수_1주차"]
	path = JPA/1주차/구연수_1주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/1주차/김성원_1주차/김성원_1주차"]
	path = JPA/1주차/김성원_1주차/김성원_1주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/2주차/구연수_2주차"]
	path = JPA/2주차/구연수_2주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/2주차/김성원_2주차"]
	path = JPA/2주차/김성원_2주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
[submodule "JPA/3주차/구연수_3주차"]
	path = JPA/3주차/구연수_3주차
	url = https://github.com/KOO-YS/jpa-programming.wiki.git
[submodule "JPA/3주차/김성원_3주차"]
	path = JPA/3주차/김성원_3주차
	url = https://github.com/ksw6169/jpa-basic.wiki.git
